@using Clean_blog.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Page Header -->
<header class="masthead" style="background-image: url('../../Uploads/img/@ViewBag.About_header.Photo')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    @Html.Raw(ViewBag.About_header.Title)
                    @Html.Raw(ViewBag.About_header.Title_content)
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (About item in ViewBag.About_text)
            {
                @Html.Raw(item.Text)
            }
        </div>
    </div>
</div>
<hr>

